* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quote,
.article,
.entry {
  height: 100vh;
  text-align: center;
  display: flex;

  background-size: cover;
  background-position: center;
}
.article {
  color: black;
}
.entry {
  height: 100vh;
  position: relative;
  color: #fff;
}

.entry__content {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
a {
  text-decoration: none;
}

.v-center {
  flex: 1;
  align-self: center;
}
