* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quote,
.article {
  height: 100vh;
  text-align: center;
  display: flex;

  background-size: cover;
  background-position: center;
}
.article {
  color: black;
}

.v-center {
  flex: 1;
  align-self: center;
}
